* { 
    margin: 0; 
    padding: 0; 
    box-sizing: 
}
body {
    background-color: white;
    color: black;
}
.wrapper {
    display: flex; 
    flex-direction: row;
    width: 100vw;
    height: 100vh;
    position: absolute;
}

/* COLUMNS */
.column {
    min-width: 230px;
    height: 100%; 
    min-height: 900px;
    border-right: 1px solid #ccc;
    position: relative;
    right: -1px;
    z-index: 1;
}
.title-row {
    background-color: white;
    font-size: 1.2rem;
    text-align: center;
    text-decoration: underline;
    border-bottom: 1px solid #ccc;
}
.entry {
    background-color: white;
    border-bottom: 1px solid #ccc;
    font-size: 0.9rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.entry p {
    width: 100%;
    margin-left: 15px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.controls {
    width: 80px;
    margin-right: 5px;
    visibility: hidden;
}
.controls i {
    margin: 5px;
}
.entry:hover .controls {
    visibility: visible;
} 
.new-entry-button {
    border-radius: 0;
    border: 0;
    background-color: white;
    color: black;
    font-style: italic;
    text-align: center;
}
.entry, .new-entry-button, .title-row {
    height: 30px;
    width: 100%;
}
.entry, .new-entry-button {
    cursor: pointer;
}

.new-entry-button:hover, .entry:hover {
    background-color: #BEEEFF;
    color: black;
}

/* NOTES */
.notes-body {
    width: 100%;
    height: 100%;
    position: relative;
    background-color: white;
    display: flex;
}
.editor-container {
    width: 100%;
    height: 250px;
    position: absolute;
    bottom: 50px;
    left: 0;
}
#editor {
    color: black;
}

/* UTILITY */
.active {
    background-color: #4992FF;
    color: white;
}

/* QUILLBAR */
.ql-toolbar {
    height: 100vh;
    width: 47px;
}
.ql-snow .ql-formats {
    display: block !important;
}
.ql.formats {
    width: 20px;
}

#editor {
    width: 1200px;
    border: 0;
}
